.footer, .infoEnd {
  width: 100%;
  background: #fff;
}

.infoEnd {
  height: 74px;
  background: #FAFAFA;
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.blockInfo {
  width: 1420px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  column-gap: 100px;
}

.blockText {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.nameHead {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #252B42;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #737373;
}

.blockEnd {
  width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.textEnd {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #737373;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}