.sliderCriteria {
  .slick-slide {
    width: 212px !important;
    height: 265px !important;
    margin: 0 15px;
  }

  .slick-arrow {
    display: none !important;
  }

  .slick-list {
    margin: 70px 0 !important;
    height: 265px !important;
  }
}