.gogleBtn {
  width: 273px;
  height: 55px;
  display: grid;
  place-items: center;
  background: #0095e5;
  border: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 9px;
  color: #fff;
  cursor: pointer;
}